@charset "UTF-8";

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

html {
    font-size: 100%;
}
#top-header a:hover {
    color: #ccc;
}
.header-bar {
    padding: 2px;
    background: #000;
}
.top-logo {
    text-align: center;
}
.top-logo h1 {
    font-size: 56px;
    font-family: serif;
    color: #000;
}
.article-post {
    
    
}
.article-post img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

#top-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 40%;
    padding: 10px 30px;
}
#top-nav li {
    color: #000;
    list-style: none;
    font-family: serif;
    font-size: 18px;
    border-bottom: 2px #ffe0b6 solid;
}
#top-nav a {
    color: #000;
}

.article-post {
    text-align: center;
    margin-top: 45px;
    
}
.article-post h2 {
    font-size: 28px;
    font-weight: none;
}
.article-post p {
    line-height: 3;
}
#sub-post {
    height: 450px;
    background-color: #eee;
}
.sub-title {
    font-weight: none;
    font-family: monospace;
    font-size: 20px;
    padding: 10px 0 0;
}

.border {
    margin-top: px;
    width: 100px;
    background: #000;
    padding: 2px;
    margin: 0 auto;
}
footer {
    background: #eee;
}

/*Camera*/
.header {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.logo img{
    padding: 10px;
    width: 20%;
    min-width: 150px;
}
.sub-nav {
    display: flex;
    margin-right: 80px;
}
.sub-nav li {
    list-style: none;
    margin: 0px 40px;
    font-size: 1.125rem;
    padding: 0 20pxpx;
    white-space: nowrap;
}
.sub-nav a {
    color: #000;
}
.article-sub-title {
    text-align: center;
    margin-top: 150px;
}

.article-sub-title h2 {
    font-weight: none;
    font-size: 20px;
}
.article-sub-title a {
    color: #aaa;
}
.article-sub-title p {
    color: #aaa;
}

.grid {
    display: grid;
    grid-column-gap: 35px;
    grid-row-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
    padding: 40px;
    max-width: 85%;
    margin: 0px auto;
}
.item {
    display: block;
}

.item p {
    text-align: center;
    color: #000;
}
.item a p:hover{
    color: cadetblue;
}
.sub-border {
    height: 1px;
    background: #aaa;
    margin: 40px auto 0px;
    width: 50%;
}
.information {
    font-size: 10px;
}

footer {
    text-align: center;
}

/*Album*/
.album {
    width: 65%;
    margin: 70px auto;
    display: grid;
    grid-row-gap: 70px;
    grid-template-columns: repeat(1,1fr);
}
.album p{
    text-align: center;
}

footer h3 {
    font-weight: none;
    font-family: serif;
    padding: 30px;
}